.registrate{
    color: #864bc7
}

.bg-error{
    background-color: #fb7474;
}
.bg-success{
    background-color: #70d084;
}

.bg-footer{
    background-color: #385170;
}
.login{
    color: #63bfc3
}

